:root {
    --background: #191919;
    --text: #8b8b8b;
    --font-text: 14px/1.4 "Open Sans", system-ui, sans-serif;
    --font-title: 500 32px/1.6 "Pirata One";
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

body {
    background: var(--background);
    color: var(--text);
    font: var(--font-text);
}

main {
    max-width: 900px;
    margin: auto;
    width: 100%;
}

section {
    padding: 0 1.4rem;
}

h1 {
    font: var(--font-title);
    margin: 4rem 0 1rem 0;
}

p {
    margin: 0 0 4rem 0;
    text-align: justify;
}
